<nav class="breadcrumb-container" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    <li 
      *ngFor="let item of breadcrumbItems; let i = index; let last = last" 
      class="breadcrumb-item"
      [class.active]="item.active || last"
    >
      <a 
        *ngIf="item.route && !item.active && !last" 
        [routerLink]="item.route" 
        class="breadcrumb-link"
      >
        {{ item.label }}
      </a>
      <span 
        *ngIf="!item.route || item.active || last" 
        class="breadcrumb-text"
        [class.active-text]="item.active || last"
      >
        {{ item.label }}
      </span>
      <span 
        *ngIf="!last" 
        class="breadcrumb-separator"
        aria-hidden="true"
      >
        •
      </span>
              </li>
  </ol>
</nav>