<div class="notification-center">
  <button class="notif-btn" (click)="togglePanel()">
    <i class="icon material-icons">notifications</i>
    <span class="badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
  </button>

  <div class="notification-backdrop" *ngIf="showPanel" (click)="showPanel = false"></div>
  <div class="notification-center-panel" *ngIf="showPanel" (click)="$event.stopPropagation()">
    <div class="notification-header">
      <span>Notification</span>
      <button class="notif-check" (click)="markAllAsRead($event)" title="Tout marquer comme lu">
        <i class="material-icons">check_circle</i>
      </button>
    </div>
    <div class="notification-list">
      <div *ngFor="let notif of notifications | slice:0:5" class="notification-row" [class.unread]="!notif.read">
        <div class="notif-icon-wrapper" [ngClass]="'type-' + (notif.type?.toLowerCase() || 'info')">
          <ng-container *ngIf="notif.senderProfilePicture; else iconOrEmoji">
            <img [src]="notif.senderProfilePicture" alt="avatar" />
          </ng-container>
          <ng-template #iconOrEmoji>
            <i class="material-icons">{{ getIcon(notif.type) }}</i>
          </ng-template>
        </div>
        <div class="notif-main-content">
          <div class="notif-title-row">
            <span class="notif-title">
              <ng-container *ngIf="notif.senderName"><b>{{ notif.senderName }}</b> </ng-container>{{ notif.title }}
            </span>
            <span class="notif-time">{{ notif.createdAt | date:'shortTime' }}</span>
          </div>
          <div class="notif-message">{{ notif.message }}</div>
          <div class="notif-meta-row">
            <span class="notif-subtext">{{ getSubtext(notif) }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="notification-footer">
      <a class="view-all" (click)="goToNotifications($event)">View all</a>
    </div>
  </div>
</div> 